.content-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.content-cards_item {
    width: calc((100%-(30px * 2)) / 3);
    text-decoration: none;
}

.content-cards_item--img {
    width: 100%;
    display: block;

    img {
        width: 100%;
        display: block;
    }
}

.content-cards_item--title {
    display: flex;
    gap: 4px;
}

.content-cards_item--title {
    color:rgb(37, 110, 235);
    margin: 0;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 19px;
}

.content-cards_item--title h5 {
    font-weight: 700;
}

.content-cards_item--title span {
    font-weight: 400;
}

.content-cards_item--price {
    color: rgb(0, 0, 0);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-top: 0;
    margin-bottom: 11px;
}

.content-cards_item--rating {
    color: rgba(196, 196, 196, 1);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin: 0;
}

@media (max-width: 991px) {
    .content-cards_item {
        width: calc((100%-(30px * 1)) / 2);
    }
}


@media (max-width: 480px) {
    .content-cards_item {
        width: 100%;
        min-width: 100%;
    }
}